/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0; line-height:0; height:0;}
a,a:link,a:visited{ color:#4e4e4e; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
img{ border:0px;}
body{ font-family:"宋体"; font-size:14px; margin:0px; line-height:160%; color:#4e4e4e;background:#fff url(../phoneimg/topbg01.jpg) repeat-x 0 2px;}
.nobg{ background:none !important;}
.padding1{ padding:1px;}.padding2{ padding:2px;}.padding3{ padding:3px;}.padding4{ padding:4px;}.padding5{ padding:5px;}.padding6{ padding:6px;}.padding7{ padding:7px;}.padding8{ padding:8px;}.padding9{ padding:9px;}.padding10{ padding:10px;}
.fontV{font-family:Verdana, Arial, Helvetica, sans-serif}
.textheight24{line-height:24px;}


.top{background:url(../phoneimg/topbg02.jpg) no-repeat 100% 0;border-top:2px solid #139de9;height:56px;padding:10px 0 0 10px;}
.data{background:url(../phoneimg/topbg03.jpg) repeat-x; height:25px;line-height:25px;text-align:center;font-family:"微软雅黑";font-size:12px;}
.nav{background:#0076c9;height:59px;margin:0 auto;}
.nav li{float:left;width:33.33%}
.nav li a:link,.nav li a:visited{display:block;text-align:center;color:#d2eaf5;font-family:"微软雅黑";font-size:16px;text-decoration:none;height:28px;line-height:28px;background:#0096ff;border-top:1px solid #0076c9;border-right:1px solid #0076c9;font-weight:bold;}
.nav li a:hover{background:#0076c9;color:#fff;}

.hdp{margin:10px auto;text-align:center;}
.conter h2{background:url(../phoneimg/nar01.jpg) repeat-x;border:1px solid #e5e5e5;height:30px;line-height:30px;}
.conter h2 a:link,.conter h2 a:hover,.conter h2 a:visited{color:#fff;font-family:"微软雅黑";font-size:16px;text-decoration:none;background:#0076c9;display:inline-block;_display:inline;_zoom:1;padding:0 15px;}
.two_nav{padding:10px 0 0 10px;font-family:"微软雅黑";}
.two_nav .on:link,.two_nav .on:visited{color:#c90000;font-weight:bold;text-decoration:none;}
.two_nav a:hover{color:#c90000;font-weight:bold;text-decoration:none;}
.listlb{padding-top:10px;}
.listlb li{height:30px;line-height:30px;border-bottom:1px solid #e8e8e9;background:url(../phoneimg/nar02.jpg) no-repeat 15px 50%;padding-left:30px;}
.listlb li a{display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;width:95%;}

.index_pic_bigtitle{position: absolute;bottom: 0;left: 0;width:100%;font-size: 12px;text-align: center;z-index:11; white-space:nowrap; overflow:hidden;}
.index_pic_bigtitle a:link,.index_pic_bigtitle a:visited{color: white;}
.titlebg{position: absolute;bottom: 0;left: 0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;z-index:10;width: 100%; height:24px}
.index_pic_samll{padding-top:15px;}
.index_pic_samll li{float:left;padding:0 0 15px 17px;width:136px;height:106px;}
.index_pic_samll li .index_pic_area{position:relative; height:106px;}
.index_pic_samllimg{ left:0px; top:0px; z-index:9;width:136px;height:106px;}
.index_pic_samllimg img{width:136px;height:106px;}

.foot{background:url(../phoneimg/footbg.jpg) repeat-x;text-align:center;color:#9e9e9e;line-height:24px;height:50px;padding-top:16px;font-size:12px;}

.dqwz{background:url(../phoneimg/ny02.jpg) repeat-x;border-top:1px solid #fff;height:35px;line-height:35px;}
.dqwz img{padding:0px 10px;vertical-align:middle}

.page{font-size:12px;text-align:center;height:38px;padding-top:12px;}
.more {background:url(../phoneimg/ny03.jpg) repeat-x;height:31px;line-height:31px;text-align:center;width:40%;border:1px solid #d2e3eb;margin:10px auto;}
.more a{color:#0076c9;}
.xx_title{font-size:20px;font-family:"微软雅黑";text-align:center;line-height:30px;padding:5px 10px 15px 10px;font-weight:bold;}
.xx_title1{font-size:20px;font-family:"微软雅黑";text-align:center;line-height:30px;padding:5px 10px 0 10px;font-weight:bold;}
.xx_time{background:url(../phoneimg/nar01.jpg) repeat-x;border:1px solid #e5e5e5;height:30px;line-height:30px;text-align:center;color:#919191;font-size:12px;}
.xx_nr{padding:15px;line-height:30px;}


/*幻灯片效果*/
#KinSlideshow{margin:0 auto; text-align:left;}
#KSS_moveBox img{ border:0px;}
.KSS_btnBox{ bottom:35px !important;left:50%;margin-left:-30px}
.KSS_titleBox .title{ margin:0px !important; padding:0px 5px !important; text-align:center; display:block; width:300px; height:30px; line-height:30px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#KinSlideshow{ position:relative !important; z-index:inherit;}
#KSS_moveBox{ position:absolute !important; z-index:inherit;}
.KSS_btnBox li{ width:10px !important; height:10px !important; border-radius:10px; text-indent:-100px; overflow:hidden; opacity:1 !important;}