@charset "utf-8";
@import url("main.css");
/* CSS Document */
.zzjg{ border:1px solid #4a9ad2;}
.zzjg .zzjgul{ float:left; width:170px; display:block; padding-bottom:1px;}
.zzjg .zzjgcon{ margin-left:170px; display:block; padding:8px 20px 20px 20px;}
.zzjg .zzjgul li{ border:1px solid #cccccc; border-left:0px; height:36px; line-height:36px; padding-left:20px; margin-bottom:-1px; position:relative; cursor:pointer;}
.zzjg .zzjgul li.on{ border-top:1px solid #0076C9; border-bottom:1px solid #0076C9; border-left:3px solid #0076C9; border-right:1px solid #fff; padding-left:17px; z-index:101 !important;}

.n_zzjg dt{border-bottom:1px dotted #006699;}
.n_zzjg dt a{border-left:1px solid #0076C9;border-right:1px solid #0076C9;border-top:3px solid #0076C9;height:28px;line-height:28px;text-decoration:none;color:#005caf;font-size:15px;display:inline-table;padding:0 15px;}
.n_zzjg dd{padding:15px 10px 30px 10px;line-height:30px;font-size:14px;}

.listul{}
.listul li{ margin-bottom:2px; display:block; clear:both; height:30px;}
.listul li a:link,.listul li a:visited{ font-size:14px; line-height:30px; height:30px; width:600px; float:left; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.listline{ color:#dadada; height:0px; border-top:1px dotted #dadada; border-right:0px; border-bottom:0px; border-left:0px; margin:15px 0px;}
.actbody{ padding:15px 25px;}
.acttitle{ padding:20px 10px; text-align:center;}
.acttitle h1{ font-size:24px; color:#003366; line-height:160%;}

.actother_text{
	background:#ebebeb;
	height:28px;
	line-height:28px;
	text-align:center;
	border-bottom: 1px solid #CCCCCC;
}
.actcon{ padding:5px 10px 10px 10px;line-height:30px;}
.actbtn{ text-align:center; padding:5px 10px 50px 10px; }
.btn_act{
	vertical-align:middle;
	margin-right:15px;
	background:#FFFFFF;
	cursor:pointer;
	height:20px;
	line-height:18px;
	color:#393939;
	float:left;
	padding:0 0px;
	border: 1px solid #A7A7A7;
	width: 60px;
	font-size: 12px;
}

.actlist{}
.actlist li{ background:url(../img/newsdot.gif) no-repeat 3px 10px; padding-left:15px; margin-bottom:2px; display:block; clear:both; height:24px;}
.actlist li a:link,.actlist li a:visited{ font-size:14px; line-height:24px; height:24px; width:650px; float:left; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.site_page{ padding:0px 10px;}
.site_page .rmtitle{ background:url(../img/conbar.gif) no-repeat center bottom;}
.site_page .listul li a:link,.site_page .listul li a:visited{ width:830px;}


.piclist{}
.piclist li{ border-bottom:1px dotted #c6c6c6; padding:15px 0px; display:block; clear:both;}
.piclist li p{ margin:0px; color:#666;}
.piclist li a:link,.piclist li a:visited{ font-size:14px; color:#005bad; }
.piclist li .ptime{ margin-top:10px;font-size:12px;color:#999;}
.piclist li .pabout{ margin-bottom:5px; font-size:12px;line-height:24px;/* text-indent:26px;*/}
.picimg{ width:210px; height:140px; margin-left:15px; float:right;}

.ldghline {
	border-bottom: 1px dotted #003366;
}


.ny_jtzz li{float:left;width:165px;padding:15px 20px 15px 40px;text-align:center}
.ny_jtzz li span{height:35px;line-height:35px;}

.ny_dsj{ padding-left:20px;}
.ny_dsj li{float:left;width:260px;padding:15px 20px;text-align:center}
.ny_dsj li span{height:35px;line-height:35px; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}



.picimg1{ width:210px; height:140px;}
.zxld {
	font-size: 14px;
	color: #0076C8;
	text-decoration: none;
}
.zxjj {
	font-size: 14px;
	line-height: 30px;
	color: #333333;
	text-decoration: none;
}


.jjqh td{ cursor:pointer;
border-bottom:1px solid #6AA2CA;font-size:18px;color:#005bac;}
.jjqh .on{
border-bottom:1px solid #cc0001;font-size:18px;color:#005bac;}

.jj_tit {
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}



