/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0; line-height:0; height:0;zoom:1; _overflow:hidden;}
a,a:link,a:visited{ color:#0f0f0f; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
img{ border:0px;}
body{font:12px/160% 'microsoft yahei'; font-family:'microsoft yahei','微软雅黑','sumsung'; font-size:13px; margin:0px; line-height:160%; color:#0f0f0f;background:#fff url(../img/bodybg.jpg) no-repeat center 30px ;}
.nobg{ background:none !important;}
.padding1{ padding:1px;}.padding2{ padding:2px;}.padding3{ padding:3px;}.padding4{ padding:4px;}.padding5{ padding:5px;}.padding6{ padding:6px;}.padding7{ padding:7px;}.padding8{ padding:8px;}.padding9{ padding:9px;}.padding10{ padding:10px;}
.red,.red:link,.red:visited{ color:#ff0000;}
.green,.green:link,.green:visited{ color:#0b861f;}
.blue,.blue:link,.blue:visited{ color:#0076cd;}
.btn_search{ border:0px; background:#0076cd; color:#ffffff; height:22px; line-height:22px; cursor:pointer; padding:0px 15px; *padding:0px 7px; vertical-align:middle; display:inline-block; _display:inline; _zoom:1;}
.fontV{font-family:Verdana, Arial, Helvetica, sans-serif}
.font14{font-size:14px;}
.font11{font-size:11px;}
.textheight24{line-height:24px;}
.iconimg{ display:inline-block; *display:inline; *zoom:1; vertical-align:middle;}
input,button,select{ font-family:'microsoft yahei','微软雅黑','sumsung'; font-size:13px; vertical-align:middle;}
hr{ color:#dadada; height:0px; border-top:1px solid #dadada; border-right:0px; border-bottom:0px; border-left:0px; margin:10px 0px;}


/*新站点头部*/
.site_top{ margin:0px auto;}
.top_link{ height:30px; background:url(../img/top_linkbg.gif); line-height:30px; margin:0px auto; color:#036; min-width:1004px;}
.top_link .top_linktext{ width:1004px; margin:0px auto; height:30px; line-height:30px; font-size:12px;}
.top_link .top_linktext span{ float:right; height:30px; line-height:30px;}
.top_link a:link,.top_link a:visited{ color:#fff; text-decoration:none;}
.top_link a:hover{ color:#f00;}
.top_link .top_inptext{ height:14px; padding:1px; border:1px solid #9a9a9a; background-color:#fff; width:80px; vertical-align:middle;}
.top_link .mailbtn{ background:url(../img/top_btn1.gif); width:55px; height:18px; overflow:hidden; text-indent:-300px; border:none; cursor:pointer;}
.top_link .officebtn{ background:url(../img/top_btn2.gif); width:66px; height:18px; overflow:hidden; text-indent:-300px; border:none; cursor:pointer;}
.top_logo{ float:left; width:500px; height:80px; padding-left:30px; padding-top:30px;}
.top_banner{ height:139px; width:1004px; margin:0px auto;}
.top_logo h1{ background:url(../img/site_name.png) no-repeat left center; display:block; height:80px;}
.top_logo h1 a{ display:block; height:100%; text-indent:-1000px; width:480px; overflow:hidden;}
/*.top_right{ float:right; padding-top:52px;}
.top_search{ float:left;}
.top_search input{ background:url(../img/searchbg.gif) no-repeat; height:25px; width:302px; padding:5px; line-height:25px; border:none; margin:0px; vertical-align:middle; outline:none;}
.top_search button{ vertical-align:middle; background:url(../img/searchbtn.gif); width:80px; height:35px; border:none; margin:0px; cursor:pointer;}
.top_search button strong{ display:none;}
.top_search p{ margin:0px; color:#005bad; display:block; clear:both; width:392px; padding-top:8px; font-size:14px;}*/

.top_search{ float:right; padding-top:12px; padding-right:10px;}
.top_search input.word{ border:1px solid #ccc; border-right:0px; line-height:20px; height:20px; padding:1px; width:190px;}
.top_search .subbtn{ background:url(../img/searchbtn.gif); width:48px; height:24px; overflow:hidden; text-indent:-600px; border:0px;}

/*menu*/
.site_menu{ width:1004px; height:47px; border-bottom:3px solid #005bac; position:relative; z-index:101;}
.site_menu .menuul{ float:left;}
.site_menu .menuul li{ height:47px; width:130px; float:left; text-align:center;}
.site_menu .menuul li .iconimg{ margin-right:5px;}
.site_menu .menuul li a:link,.site_menu .menuul li a:visited{ color:#036; font-size:16px; height:47px; line-height:47px; display:inline-block; vertical-align:middle; *display:inline; *zoom:1; text-decoration:none;}
.site_menu .menuul .hover,.site_menu .menuul li a:hover{ color:#f00; text-decoration:none;}
.site_menu .menuul .hover a:link,.site_menu .menuul .hover a:visited{ color:#f00; text-decoration:none;}
.site_menu .site_xmenu{ width:725px; height:312px; background:#fff; border:1px solid #4a9ad2; border-left:0px; padding:20px 20px 20px 26px; left:230px; top:0px; position:absolute; display:none; _overflow:hidden;}
.site_menu .site_xmenu .xmcon{ display:none;}

/**/
.site_body{ width:1004px; margin:0px auto;}
.partborder{ border:1px solid #e5e5e5;}
.partinborder{ border:1px solid #dcdcdc;}
.partM{ margin-top:16px;}
.timespan{ float:right; font-size:11px; font-family:Verdana,Geneva; line-height:inherit; width:80px; text-align:right; color:#969696;}
/*当前位置*/
.site_postion{ width:990px; margin:0px auto; background:url(../img/dqwzbg.jpg) repeat-x; height:45px; padding-left:14px;}
.postion_icon{ background:url(../img/dqwzicon.jpg) 0 60% no-repeat;color:#7a7a7a; line-height:45px; font-size:14px;padding-left:25px;}
.postion_icon a:link,.postion_icon a:visited{ color:#666666;}
.postion_icon a:hover{ color:#f00;}

/**/
.rightbk{border:1px solid #e5e5e5;background:#fff;}
.lefttit{background:#0076c8;border-bottom:1px solid #e5e5e5;height:43px;padding-left:20px;font-size:18px;color:#fff;line-height:43px;}
.lmul{padding:10px 20px 0 20px;}
.lmul li{}
.lmul li a:link,.lmul li a:visited{ background:url(../img/leftmenu01.jpg) repeat-x; height:43px; line-height:43px; display:block; padding-left:40px; text-align:left; color:#666666; font-size:14px;}
.lmul li a:hover{ color:#f00;}
.lmul li a.select:link,.lmul li a.select:visited{ background:url(../img/navarr2.gif) #edebeb no-repeat 13px center; color:#666666;border-bottom:1px dotted #c6c6c6;}
.rmtitle{border-bottom:1px solid #cc0001;font-size:18px;color:#005bac;}
.rmtitle h2{ color:#005bad; font-size:18px; line-height:32px; padding-left:20px;}
.right_con{padding:15px 25px;}
.right_con p,.actcon p{ margin:12px 0px;}

/*分页代码*/
.pageation{ padding:15px 0px; text-align:center; font-size:14px; font-family:"宋体";border-top:1px dotted #c6c6c6;}
.pageation span{ display:inline-block; _display:inline; _zoom:1;}
.pageation .pagetotle{ margin-right:15px;}
.pageation .home{}
.pageation .end{}
.pageation .pagenum{ margin:0px 5px;}
.pageation .pagenum a:link,.pageation .pagenum a:visited{ display:inline-block; _display:inline; _zoom:1; margin-left:3px; border:1px solid #CBCBCB; padding:1px 8px; background:#f0f0f0; font-size:14px;}
.pageation .pagenum a:hover{ border:1px solid #0274BD; background:#f5f5f5; text-decoration:none;}
.pageation .pagenum .this:link,.pageation .pagenum .this:visited{ border:1px solid #04326E; background:#0274BD; color:#ffffff; font-weight:600;}
.pageation .gopage{ margin-left:15px;}
.pageation .gopage select{/* margin:0px 2px;*/}


/*站点底部*/
.site_footer{ margin-top:20px; min-width:1004px;}
.wrapper_footer{ width:1004px; margin:0px auto;}
.footer_link{ height:40px; background:#ededed;}
.footer_link .wrapper_footer{ height:30px; padding:5px 0px;}
.footer_link .wrapper_footer h2{ float:left; font-size:20px; font-weight:400; color:#005bad; line-height:30px; margin-right:22px; _margin-right:13px;}
.footer_link .wrapper_footer select{ vertical-align:middle; margin-top:4px; _margin-top:2px;}
.footer_copyright{ padding:10px 0px; text-align:center; line-height:26px; background:#005bac; font-size:14px; color:#fff; border-top:4px solid #005BAD;}
.footer_copyright a:link,.footer_copyright a:visited{ color:#fff;}
/*站点底部 end*/


/*浮动、到顶*/
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
.sitekf{/* background:url(../img/kf_bg.gif) repeat-x 0px -2px #eeeeee; padding-top:3px;*/ width:112px; text-align:center; float:right;
 position:fixed; top:200px; right:5px; cursor:pointer; _position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+200)) /*_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));*/}
.sitekf ul{ display:block;/* border-right:1px solid #dddddd; border-left:1px solid #dddddd;*/}
.sitekf ul li{/* border-top:1px solid #ffffff; border-bottom:1px solid #dddddd;*/ display:block;}
.sitekf ul li a{ font-size:13px; font-family:'microsoft yahei',"黑体" ; display:block; color:#000000;}
.sitekf ul li a:hover{ color:#4f4f51; text-decoration:none;/* background-color:#FFFFFF;*/}
.sitekf ul li a span{ height:20px; line-height:20px; display:none;}
.kf_weibo:link,.kf_weibo:visited{ background:url(../img/gswb.gif) center 0px no-repeat; padding-top:128px; padding-bottom:10px;}
.kf_weixin:link,.kf_weixin:visited{ background:url(../img/icon_weixin.gif) center 10px no-repeat; padding-top:128px; padding-bottom:10px;}
.kf_jishi:link,.kf_jishi:visited{ background:url(../img/icon_jsjl.gif) center 10px no-repeat; padding-top:128px; padding-bottom:10px;}
.kf_gotop:link,.kf_gotop:visited{ /* background:url(../img/icon_gotop.gif) center 7px no-repeat #FFFFFF;*/ padding-top:20px; padding-bottom:3px; display:none;}
/*浮动、到顶 end*/

/*图标*/
.mico1{ background:url(../img/icon_m1.png); width:28px; height:28px;}
.mico2{ background:url(../img/icon_m2.png); width:28px; height:28px;}
.mico3{ background:url(../img/icon_m3.png); width:28px; height:28px;}
.mico4{ background:url(../img/icon_m4.png); width:28px; height:28px;}
.mico5{ background:url(../img/icon_m5.png); width:28px; height:28px;}
.mico6{ background:url(../img/icon_m6.png); width:28px; height:28px;}
.mico7{ background:url(../img/icon_m7.png); width:28px; height:28px;}

