/* CSS Document */
/*引入站点通用样式*/
@import url("main.css");@import url("jtxw.css");

/*厅长信箱*/
.head_toplink1{ background:#fff; height:24px; line-height:24px;}
.head_main1{ width:1004px; margin:0px auto;height:121px;}
.tzxx_menu{width:912px; margin:0px auto;height:54px;background:#0076cd;padding-top:11px;padding-left:92px;}
.tzxx_menu ul li{width:157px;height:44px;text-align:center;display:block; float:left;line-height:44px;margin:0 5px;}
.tzxx_menu ul li a:link,.tzxx_menu ul li a:visited{display:block;background:url(../../../images/public/tzxx_02.jpg) no-repeat;font-size:18px;font-family:'microsoft yahei',"黑体" ; color:#afd8f6;text-decoration:none;}
.tzxx_menu ul li a:hover{display:block;background:url(../../../images/public/tzxx_03.jpg) no-repeat;font-size:18px;font-family:'microsoft yahei',"黑体" ; color:#0076cd;text-decoration:none;}

.tzxx_menu ul li.dqzt a:link,.tzxx_menu ul li.dqzt a:visited,.tzxx_menu ul li.dqzt a:hover{display:block;background:url(../../../images/public/tzxx_03.jpg) no-repeat;font-size:18px;font-family:'microsoft yahei',"黑体" ; color:#0076cd;text-decoration:none;}

.tzxx_top20{margin-top:20px;}
.tzxx_bottom20{margin-bottom:20px;}
.tzxx_height24{line-height:24px;}
.tzxx_font14{font-size:14px;}

.tzxx_rightline{border-right:2px solid #dddddd;}
.tzxx_downline{border-bottom:1px solid #cacaca;}
.tzxx_bk{border:1px solid #cacaca}
.tzxx_input{border:1px solid #cacaca;background:#fff;}

.tzxx_an a:link,.tzxx_an a:visited{font-family:'microsoft yahei',"黑体" ; color:#ff3600;text-decoration:none;font-size:18px;padding-left:50px;}
.tzxx_an a:hover{font-family:'microsoft yahei',"黑体" ; color:#0076cd;text-decoration:none;font-size:18px;padding-left:50px;}


.tzxx_table{ border-collapse:collapse;}
.tzxx_table th{ background:url(../../../images/public/table_thbg1.gif); height:33px; font-size:14px;border:1px solid #e5e5e5;}
.tzxx_table td{ height:26px; padding:2px;border:1px solid #e5e5e5;}.tzxx_table{ border-collapse:collapse;}


.overdot{ width:340px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:block;}
.dwname{ color:#4090e2;}

.tzxx_hf{margin-bottom:15px;}
.tzxx_hf td{padding:5px;}

.tzxx_search{border:1px solid #cacaca;background:#fff url(../../../images/public/search3.jpg) 5px 50% no-repeat;width:195px;height:22px;line-height:22px;color:#4E4E4E;padding-left:30px;}
.tzxx_searchbox{border-top:3px solid #0078ce;border-left:1px solid #cacaca;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca;padding:25px 50px 25px 30px;}
a.tzxx_search_title:link,a.tzxx_search_title:visited,a.tzxx_search_title:hover{font-size:16px;color:#0076ce;text-decoration:underline;}
.tzxx_search_text{font-size:13px;color:#000}
.tzxx_search_www{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#008000;font-weight:bold;}
a.tzxx_search_link:link,a.tzxx_search_link:visited,a.tzxx_search_link:hover{font-size:12px;color:#008000;text-decoration:none;}

.searchbk{border-left:1px solid #cacaca;border-right:1px solid #cacaca;border-top:1px solid #e5e5e5;}
