@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0; line-height:0; height:0;}
a,a:link,a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
img{ border:0px;}
body{ font-family:"microsoft yahei"; font-size:12px; margin:0px; line-height:160%; color:#000; background:url(img/bg.jpg) #67b5ff 50% 100% no-repeat;}
html,body{ min-height:100%;}
.nobg{ background:none !important;}
.padding1{ padding:1px;}.padding2{ padding:2px;}.padding3{ padding:3px;}.padding4{ padding:4px;}.padding5{ padding:5px;}.padding6{ padding:6px;}.padding7{ padding:7px;}.padding8{ padding:8px;}.padding9{ padding:9px;}.padding10{ padding:10px;}
.red,.red:link,.red:visited{ color:#ff0000;}
.green,.green:link,.green:visited{ color:#0b861f;}
.blue,.blue:link,.blue:visited{ color:#0076cd;}

.mlpage{ height:100%; background:url(img/c1.gif) #fff 100% 50px no-repeat; width:660px; margin: 0 auto;}
.mlname{ padding:110px 150px 50px 50px; font-size:24px; font-weight:700; line-height:1.3; text-align:center;}
.mlpage ul{ padding:10px 70px 50px 50px;}
.mlpage ul li{ display:block; margin:15px 0; font-size:20px; background:url(img/c4.gif) 0 50% repeat-x;}
.xuhao{ height:32px; line-height:32px; font-size:32px; font-weight:700; color:#2699D0; background:url(img/c2.gif) no-repeat 100% 50%; display:inline-block; padding-right:15px; background-color:#FFFFFF; vertical-align:middle;}
.downico{ background:url(img/c3.gif) #FFFFFF 50% 50% no-repeat; width:32px; height:32px; display:inline-block; vertical-align:middle; float:right; cursor:pointer;}
.mlpage ul li a:link,.mlpage ul li a:visited{ background-color:#fff; padding: 0 10px; line-height:32px;}