/* CSS Document */
body,th,td,tr{margin:0;font-family:"宋体" ;font-size:12px;color:#525D63;}
body,form{ margin:0px; padding:0px;}.IE6height1{ height:1%; +zoom:1;}
select,input{ vertical-align:middle;}
.fontA{font-family:Arial;}
.bk{border:1px solid #96AAB5;background:#EEEFF3}
.bk1{border:1px solid #82C6DC;}
.bk2{border-top:1px solid #1A93BB;border-left:1px solid #1A93BB;border-right:1px solid #1A93BB;border-bottom:4px solid #1A93BB;}
.font14{font-size:14px;font-weight:bold;}
.bk3{border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #BFDCED;border-bottom:1px solid #BFDCED;}

a:link { color:#1A1A1A; text-decoration:none;}

a:visited { color:#1A1A1A;	text-decoration: none;}
a:hover { color:#005B9A; text-decoration:none;}

a.topmenu:link { color:#FFFFFF; text-decoration:none;}
a.topmenu:visited { color:#FFFFFF;text-decoration:none;}
a.topmenu:hover { color:#EAFF00; font-size:13px;text-decoration:none;}

.menubg a:link {display:block;width:90px;height:24px;padding-top:5px}
.menubg a:visited {display:block;width:90px;height:24px;padding-top:5px}
.menubg a:hover {display:block;width:84px;height:21px;background:url(../../images/private/sys/index_19.gif) no-repeat;padding-top:7px}

.leftmenu1bg a:link {display:block;width:178px;height:28px;padding:3px 0 0 30px;background:url(../../images/private/sys/index_45.gif) repeat-y;}
.leftmenu1bg a:visited {display:block;width:178px;height:28px;padding:3px 0 0 30px;background:url(../../images/private/sys/index_45.gif) repeat-y;}
.leftmenu1bg a:hover {display:block;width:178px;height:28px;background:url(../../images/private/sys/index_48.gif) repeat-y;padding:3px 0 0 30px;}

a.leftmenu1:link { color:#01426F; text-decoration:none;font-weight:bold;}
a.leftmenu1:visited { color:#01426F;text-decoration: none;font-weight:bold;}
a.leftmenu1:hover { color:#000000; text-decoration:none;font-weight:bold;}

a.leftmenu2:link { color:#506F7E; text-decoration:none;}
a.leftmenu2:visited { color:#506F7E;text-decoration: none;}
a.leftmenu2:hover { color:#FF0000; text-decoration:none;}

/*分页 begin*/
.pagenum{line-height:21px;text-align:right;color:#666; margin-right:5px; padding-top:5px;} 
.pagenum a,.pagenum a:link,.pagenum a:visited{padding:2px 6px;border:1px solid #ddd;margin-right:3px;text-decoration:none;color:#333;font-size:12px;background:#fff;} 
.pagenum a:hover,.pagenum a:active{color:#f60;text-decoration:none;padding:2px 6px;border:1px solid #f50;background:#fff;}
.pagenum a.page-prev{background:#fff url(../../images/pagination.gif) no-repeat 6px -60px;padding-left:15px;}
.pagenum a.page-next{background:#fff url(../../images/news/pagination.gif) no-repeat 8px -85px;padding-left:15px;}
a.page-prev:link,a.page-prev:visited,a.page-prev:hover,a.page-prev:active{background:#fff url(../../images/pagination.gif) no-repeat 6px -60px;padding-left:15px;}
a.page-next:link,a.page-next:visited,a.page-next:hover,a.page-next:active{background:#fff url(../../images/pagination.gif) no-repeat 8px -85px;padding-left:15px;}
a.page-gray:link,a.page-gray:visited,a.page-gray:hover,a.page-gray:active{border:1px solid #ddd;color:#999;}
a.caoz,a.caoz:visited{ text-decoration:none; color:#6495ED;}
a.caoz:hover{ color:#FF6600;}

/*12-25*/
.red{ color:#FF0000 !important;}.blue{ color:#0033CC !important;}.brown{ color:#A52A2A !important;}.black{ color:#525D63 !important;}.textline{ text-decoration:underline !important;}.green{ color:#009900 !important;}
a.blueline:link,a.blueline:visited{ color:#0033CC; text-decoration:underline;}
a.blueline:hover{ color:#FF0000;}
.marginTop5{ margin-top:5px;}.marginTop10{ margin-top:10px;}.marginTop15{ margin-top:15px;}
.paddingLeft5{ padding-left:5px;}.paddingLeft10{ padding-left:10px;}.paddingLeft15{ padding-left:15px;}
.padding5{ padding:5px;}.padding10{ padding:10px;}.padding15{ padding:15px;}
.noborderTop{ border-top:0px !important;}.noborderRight{ border-right:0px !important;}.noborderBottom{ border-bottom:0px !important;}.noborderLeft{ border-top:0px !important;}
a.btnctr:link,a.btnctr:visited{ background:url(../../images/btn_bgl.gif) left no-repeat; display:inline-block; height:22px; color:#000000; text-decoration:none;}
a.btnctr:hover{ color:#FF0000;}
a.btnctr:link strong,a.btnctr:visited strong,a.btnctr:hover strong{ font-weight:normal; background:url(../../images/btn_bgr.gif) no-repeat right; height:22px; line-height:22px; display:inline-block; padding:0px 10px; cursor:pointer;}
.tab_title_bg{ background:#6EC7E5; height:26px; line-height:26px; color:#FFFFFF;}
.divborder{ border:1px solid #A1BCCA;}
.tab_A{ background:#FFFFFF; height:26px;}
.tab_A a:link,.tab_A a:visited{ padding:0px 10px; display:inline-block; height:26px; line-height:26px; background:#DDECF3; color:#666666; text-decoration:none; margin-right:2px;}
.tab_A a:hover{ color:#003366;}
.tab_A a.on:link,.tab_A a.on:visited,.tab_A a.on:hover{ background:#6EC7E5; display:inline-block; height:26px; line-height:26px; color:#FFFFFF;}
