@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0; line-height:0; height:0;}
a,a:link,a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
img{ border:0px;}
body{ font-family:'microsoft yahei'; font-size:13px; margin:0px; line-height:24px; color:#000;background:#f5f5f5;}
.nobg{ background:none !important;}
.padding1{ padding:1px;}.padding2{ padding:2px;}.padding3{ padding:3px;}.padding4{ padding:4px;}.padding5{ padding:5px;}.padding6{ padding:6px;}.padding7{ padding:7px;}.padding8{ padding:8px;}.padding9{ padding:9px;}.padding10{ padding:10px;}
.fontV{font-family:Verdana, Arial, Helvetica, sans-serif}
.font14{font-size:14px;}
.font11{font-size:11px;}
.margin_top5{margin-top:5px;}.margin_top10{margin-top:10px;}.margin_top15{margin-top:15px;}.margin_top20{margin-top:20px;}

.mainwidth{ min-width:1004px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1004?"1004px":"");}
/*头部*/
.top_left{float:left;padding:10px 0px 0px 15px;}
.top_logo{ float:left; height:48px;}
.top_logo h1{ font-family:"黑体"; font-size:30px; color:#fff; line-height:48px; text-shadow:1px 2px 1px rgba(0,0,0,0.4); filter: DropShadow(Color=#0f5585, OffX=1, OffY=2, Positive=1);}
.top_sysVer{ float:left; margin:10px 0px 0px 5px;}
.sysVer_no,.sysVer_text,.sysVer_no span,.sysVer_text span{ background-image:url(sysver_bg.png); background-repeat:no-repeat; color:#fff;}
.sysVer_no{ padding-left:10px; height:11px; overflow:hidden;}
.sysVer_no span{ background-position:100% -11px; padding-right:5px; line-height:11px; height:11px; font-size:8px; display:block; float:left;}
.sysVer_text{ padding-left:6px; margin:2px 0px 0px 3px; height:19px; line-height:19px; background-position:0px -22px;}
.sysVer_text span{ background-position:100% -41px; padding-right:6px; height:19px; display:block; float:left;}

.top_right{float:right;text-align:right;}
.top_right li{float:left;width:34px;height:30px;}
.top_right li a:link,.top_right li a:visited{display:block;background:url(r_icon_bg.png) no-repeat;}
.top_right li a:hover{background:url(r_icon_bg1.png) no-repeat;}
.exit_btn{ display:inline-block; width:64px; height:26px; *display:inline; *zoom:1; margin-top:5px;}
.exit_btn a:link, .exit_btn a:visited{ display:block; float:left; margin:0px; padding:0px; width:64px; height:26px; line-height:26px; text-align:center; color:#fff;}
.exit_btn a img{ width:16px; height:16px; vertical-align:middle; margin-right:5px;}

/*菜单*/
.Nmenu{ height:44px; background-image:url(menu_bg.png); background-repeat:repeat-x;}
.Nmenu_menu li{float:left;line-height:44px; margin-left:10px;}
.Nmenu_menu li a:link,.Nmenu_menu li a:visited{float:left; background-image:none; background-repeat:no-repeat; padding-left:10px; height:44px; color:#FFF; font-size:17px; text-decoration:none; display:block; cursor:pointer;}
.Nmenu_menu li a:hover{ color:#ff0;}
.Nmenu_menu li a:link strong,.Nmenu_menu li a:visited strong{ font-weight:400; padding-right:10px; display:block; float:left; height:100%; cursor:pointer;}
.Nmenu_menu li a strong span{ padding:7px 5px 5px 5px; line-height:28px; display:block; float:left; height:32px; cursor:pointer;}
.Nmenu_menu li a img{ width:24px; height:24px; vertical-align:middle; margin:0px 3px 0px 0px; border:0;}
.Nmenu_menu li a.select:link,.Nmenu_menu li a.select:visited{ background-image:url(menu_bg.png); background-repeat:no-repeat; background-position:0px -44px; color:#1679bd;}
.Nmenu_menu li a.select:link strong,.Nmenu_menu li a.select:visited strong{ background-image:url(menu_bg.png); background-repeat:no-repeat; background-position:100% -132px;}
.Nmenu_menu li a.select:link strong span,.Nmenu_menu li a.select:visited strong span{ background-image:url(menu_bg.png); background-repeat:repeat-x; background-position:0px -88px;}



.Nmenu_tel{text-align:center;line-height:45px;font-size:14px; height:45px;}
.Nmenu_tel span{font-size:14px;font-family:"Arial";padding-right:15px;color:#ff0000;}

.Nmenu_user{ padding:10px;}
.Nmenu_user_notic{ width:16px;height:16px; display:inline-block; *display:inline; *zoom:1; position:relative;}
.Nmenu_user_notic a{ position:absolute; right:-5px; top:-5px; display:block; width:14px; height:14px; line-height:14px; text-align:center; background:url(noticbg.png) no-repeat; color:#fff; font-size:10px;}
.Nmenu_user_left{float:left;position:relative;}
.Nmenu_user_right{float:left; padding-left:5px;line-height:20px;color:#333;}
.Nmenu_user span{}

/*footer*/
#footbox{ background-image:url(footer_bg.png); background-repeat:no-repeat; background-position:0 0; height:26px; padding-left:10px;}
#footbox .foot{ background-image:url(footer_bg.png); background-repeat:no-repeat; background-position:100% -52px; height:26px; text-align:center; padding-right:10px;}
#footbox .footerText{ background-image:url(footer_bg.png); background-repeat:repeat-x; background-position:0 -26px; height:25px; padding-top:1px; line-height:25px;}

/*中间内容——右边切换菜单*/
.tabmenu{height:34px;background:#e1e1e1 url(tabmenubg.jpg) 0 100% repeat-x;padding-top:7px;}
.tabmenu ul li{float:left;margin:0 0 0 4px;}
.tabmenu_nr img{padding-right:5px;vertical-align:middle;}
.tabmenu_nr a:link{display: block;background:url(tabmenu1.jpg) 0 0 no-repeat;height:34px;padding-left:12px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}
.tabmenu_nr a:visited{display: block;background:url(tabmenu2.jpg) 0 0 no-repeat;height:34px;padding-left:12px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}
.tabmenu_nr a:hover{display: block;background:url(tabmenu3.jpg) 0 0 no-repeat;height:34px;padding-left:12px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}
.tabmenu_nr a:link .r_close,.tabmenu_nr a:visited .r_close{display:inline-block;*display:inline; *zoom:1; vertical-align:middle;background:url(tabmenuclose2.png) 50% 50% no-repeat;width:14px;height:14px;}
.tabmenu_nr a:hover .r_close{display:inline-block;*display:inline; *zoom:1; vertical-align:middle;background:url(tabmenuclose1.png) 50% 50% no-repeat;width:14px;height:14px;}

.tabmenu_nr a:link span{display: block;background:url(tabmenu1.jpg) 100% 0 no-repeat;padding-right:8px;height:34px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}
.tabmenu_nr a:visited span{display: block;background:url(tabmenu2.jpg) 100% 0 no-repeat;padding-right:8px;height:34px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}
.tabmenu_nr a:hover span{display: block;background:url(tabmenu3.jpg) 100% 0 no-repeat;padding-right:8px;height:34px;line-height:34px;font-size:14px;text-decoration:none;color:#818181;cursor:default;}

/*中间内容——右边内容*/
.padding_top10{padding-top:10px;}
input,select,textarea{border:1px solid #d7d7d7;background:#fff url(inputbg.jpg) repeat-x;color:#818181;font-family:'microsoft yahei'; font-size:12px;padding-left:3px;}
.no_input{background:none;border:none;}
.searchcloseopen{background:url(searchline.jpg) 0 50% repeat-x;height:26px;line-height:26px;}
input[type="radio"],input[type="checkbox"]{border:0;}

.table_auto{margin-left:auto;margin-right:auto;}
/*table contrl btn*/
.tableTop,.czbutton_bk{ background:url(tableTop_bg.gif) #f4f4f4 repeat-x 0px 0px; height:32px; border:1px solid #d3d3d3; border-bottom:0px;}
.czbutton li{float:left;dispaly:block;padding-left:7px;padding-right:6px;*padding-left:expression(this.previousSibling==null?"6px":"7px");*margin-left:expression(this.previousSibling==null?"-1px":"0px");height:32px; background:url(czbtn_line.gif) 0px 50% no-repeat;}
.czbutton li:first-child{ background:none; padding-left:6px;}
.czbutton li img{vertical-align:middle;padding:0 3px;}
.czbutton li a:link,.czbutton li a:visited{margin-top:3px;text-decoration:none;display:inline-block;height:26px;vertical-align:middle;line-height:26px;}
.czbutton li a:hover{/*background:#e5e6e6;border:1px solid #d9d9d9;*/text-decoration:none; color:#f00;}
.czbutton li a b{ font-weight:400;}

/*弹出窗口内容*/
.table_titlebk{background:#ececec url(adbg1.jpg) 0 100% repeat-x;border:1px solid #d7d7d7;height:40px;}
.table_title{padding-left:20px;font-size:16px;font-family:'microsoft yahei';font-weight:bold;}
.table_nrbk{border:1px solid #d7d7d7;background:#fff;}
.tcck_foot{background:#fff;border-top:1px solid #d7d7d7;height:38px;text-align:right;padding-right:6px;}

/*通知内容*/
a.notiec:link,a.notiec:visited{color:#7e7e7e;}


/*验证使用*/
.dialogBody {
	background-color: transparent;
	background-color: #FFFFFF;
}
/*tooltip*/
div.tooltip { position: absolute; }
div.tooltip table td.corner {
	width: 12px;
	height: 12px;
	font-size: 1px;
	line-height: 1px;
}
div.tooltip table.tooltiptable { margin: 3px; }
div.tooltip table td.topleft,
div.tooltip table td.topcenter,
div.tooltip table td.topright,
div.tooltip table td.bodyleft,
div.tooltip table td.tooltipcontent,
div.tooltip table td.bodyright,
div.tooltip table td.footerleft,
div.tooltip table td.footercenter,
div.tooltip table td.footerright {
	background-image: url(tooltipbox.png);
	_background-image: url(tooltipbox.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
div.tooltip table td.topcenter { background-position: top; }
div.tooltip table td.topright { background-position: right top; }
div.tooltip table td.bodyleft { background-position: left; }
div.tooltip table td.tooltipcontent { background-position: center; }
div.tooltip table td.bodyright { background-position: right; }
div.tooltip table td.footerleft { background-position: left bottom; }
div.tooltip table td.footercenter { background-position: bottom; }
div.tooltip table td.footerright { background-position: right bottom; }
div.tooltip table td.tooltipcontent {
	padding: 3px 0 1px 1px;
	font-size: 12px;
	color: #757168; /*	color:#653;*/
	font-family: Tahoma, SimSun, Verdana, sans-serif;
	line-height: 15px;
	word-break: break-all;
	text-align: justify;
	text-justify: inter-ideograph;
}
div.tooltip div.tooltipfang {
	font-size: 1px;
	line-height: 1px;
	position: absolute;
	width: 11px;
	height: 11px;
	background-image: url(Callouts.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
div.tooltip .closebtn {
	position: absolute;
	z-index: 10;
	right: 15px;
	top: 8px;
}
div.tooltip .closebtn a {
	display: block;
	height: 10px;
	width: 14px;
	padding: 0 0 0 2px;
	color: #FF7744;
	line-height: 6px;
 +line-height: 7px;
	font-size: 12px;
	border: #DDDDDD 1px solid;
	border-top: none;
}
div.tooltip .closebtn a:hover {
	color: #FFFFFF;
	text-decoration: none;
	border-color: #FFCC00;
	background-color: #FFBB66;
}
div.tooltip.callout1 div.tooltipfang {
	right: 13px;
	top: 0px;
	background-position: 0px -11px;
}
div.tooltip.callout1 .closebtn { right: 20px; }
div.tooltip.callout2 div.tooltipfang {
	top: 13px;
	right: 0px;
	background-position: 0px -33px;
}
div.tooltip.callout3 div.tooltipfang {
	top: 42%;
	right: 0px;
	background-position: 0px -33px;
}
div.tooltip.callout4 div.tooltipfang {
	bottom: 13px;
	right: 0px;
	background-position: 0px -33px;
}
div.tooltip.callout5 div.tooltipfang {
	right: 13px;
	bottom: 0px;
	background-position: 0px -66px;
}
div.tooltip.callout6 div.tooltipfang {
	left: 49%;
	bottom: 0px;
	background-position: 0px -55px;
}
div.tooltip.callout7 div.tooltipfang {
	left: 13px;
	bottom: 0px;
	background-position: 0px -77px;
}
div.tooltip.callout8 div.tooltipfang {
	left: 0px;
	bottom: 13px;
	background-position: 0px -44px;
}
div.tooltip.callout9 div.tooltipfang {
	left: 0px;
	top: 42%;
	background-position: 0px -44px;
}
div.tooltip.callout10 div.tooltipfang {
	left: 0px;
	top: 13px;
	background-position: 0px -44px;
}
div.tooltip.callout11 div.tooltipfang {
	left: 13px;
	top: 0px;
	background-position: 0px -22px;
}
div.tooltip.callout12 div.tooltipfang {
	left: 49%;
	top: 0px;
	background-position: 0px 0px;
}

/*系统锁屏*/
.screenLock{
	background-image: url(screen_lock.jpg);
	background-repeat: no-repeat;
	background-position:50% 20px;
	padding:80px 0 0 0;
}

/*登录页面*/
.loginbg{background:#fff url(loginbg.jpg) 0 100% repeat-x;}
.loginbox{background:url(loginbox.png) no-repeat;border:0;width:252px;height:34px;padding-left:10px;line-height:33px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;margin-top:15px;}
.loginbox1{background:url(loginbox1.png) no-repeat;border:0;width:142px;height:34px;padding-left:10px;line-height:33px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;}

/*目录树*/
.blockTable{/*background:#f0f0f0 url(mlslbbg.jpg) 100% 0 repeat-y;*/}
.blocktitle,.divTitle{background:#ffffff url(mlstitlebg.jpg) 0 100% repeat-x;border:1px solid #d3d3d3; border-bottom:0px; height:32px; padding:0px 5px;}
.blocktitle h3,.divTitle h3,.blocktitle .titleText,.divTitle .titleText{ font-weight:700; color:#666; font-size:13px; line-height:32px; display:inline-block; vertical-align:middle; *display:inline; *zoom:1;}
.blocktitle img,.divTitle img{ display:inline-block; vertical-align:middle; *display:inline; *zoom:1; margin-right:3px;}

/*换肤页面*/
.hf_index{margin:12px 12px 0 12px}
.hf_index dl{float:left;margin:12px 20px 0 20px; position:relative;}
.hf_index dt{background:url(hfbg.png) no-repeat;width:197px;height:117px;padding:6px;}
.hf_index dt a:link img{filter: alpha(opacity=100);  -moz-opacity: .7; opacity: .7;}
.hf_index dt a:visited img{filter: alpha(opacity=100);  -moz-opacity: .7; opacity: .7;background:url(hficon1.png) no-repeat;}
.hf_index dt a:hover img{filter: alpha(opacity=50);  -moz-opacity: .7; opacity: .7;}
.hf_sure{background:url(hficon1.png) no-repeat;width:23px;height:23px;position:absolute;top:85px;right:22px;display:none;}
.hf_index dd{text-align:center;}
.hf_select .hf_sure{display:block;}

/*帮助页面*/
.help_title{margin:30px 20px;background:url(help02.jpg) 0 100% repeat-x;height:37px;}
.help_title ul li{float:left;width:106px;text-align:center;}
.help_title a:link,.help_title a:visited{display:block;font-size:14px;color:#000;text-decoration:none;height:37px;line-height:37px;}
.help_title a:hover{border-left:1px solid #d7d7d7;border-top:1px solid #d7d7d7;border-right:1px solid #d7d7d7;height:36px;line-height:36px;background:url(help01.jpg) 0 100% repeat-x}
.help_on a:link,.help_on a:visited,.help_on a:hover{border-left:1px solid #d7d7d7;border-top:1px solid #d7d7d7;border-right:1px solid #d7d7d7;height:36px;line-height:36px;background:url(help01.jpg) 0 100% repeat-x}

/*pTabs*/
.pTabs_group{ height:36px; padding:0px 10px; background-image:url(pTabs_bg.gif); background-position:0px 0px; background-repeat:repeat-x;}
.pTabs_left,.pTabs_right,.pTabs_center{}
.pTabs_center ul{}
.pTabs_center ul li{ display:inline-block; *display:inline; *zoom:1; margin:0px; margin-right:3px;}
.pTabs_center ul li a:link,.pTabs_center ul li a:visited{ background-image:url(pTabs_bg.gif); background-position:0px -36px; background-repeat:no-repeat; padding-left:5px; cursor:pointer; height:36px; display:block; float:left; font-size:14px; color:#555; outline:none; -moz-outline:none;}
.pTabs_center ul li a:link strong,.pTabs_center ul li a:visited strong{ background-image:url(pTabs_bg.gif); background-position:100% -108px; background-repeat:no-repeat; padding-right:5px; cursor:pointer; height:36px; display:block; float:left;}
.pTabs_center ul li a:link b,.pTabs_center ul li a:visited b{ background-image:url(pTabs_bg.gif); background-position:0px -72px; background-repeat:repeat-x; padding:3px 10px 1px 10px; cursor:pointer; height:32px; line-height:32px; display:block; float:left; font-weight:400;}
.pTabs_center ul li a:hover{ color:#f00;}

.pTabs_center ul li a.select:link,.pTabs_center ul li a.select:visited{ background-position:0px -144px; color:#1679bd;}
.pTabs_center ul li a.select:link strong,.pTabs_center ul li a.select:visited strong{ background-position:100% -216px;}
.pTabs_center ul li a.select:link b,.pTabs_center ul li a.select:visited b{ background-position:0px -180px;}

/*search*/
.searchArea{ background-color:#f5f5f5; border:1px solid #d3d3d3; padding:5px;}

.ifrpage{ padding:10px;}
.divborder{ border:1px solid #d3d3d3;}

.tableList{ border:1px solid #d3d3d3; border-collapse:collapse; width:100%;}
.tableList th,.tableList td{ padding:0px 4px; height:27px; border-width: 0 1px 1px 0; border-style: solid; border-color:#d3d3d3;}
.tableList th{
	height:30px;
	font-weight:400;
	background-color: #ebebeb;
	background-image:url('titlebg.gif');
	background-repeat:repeat-x;
	box-shadow:inset 0 1px 0 #fff;
	-moz-box-shadow:inset 0 1px 0 #fff;
	-webkit-box-shadow:inset 0 1px 0 #fff;
}
.tableList td{}
.readonlyText {
	border: 1px solid #DDD;
	background-color: #F5F5F5;
	background:#F5F5F5;
	color: #ACA899;
	padding: 2px;
}