/* CSS Document */
body{ font-family:"Microsoft YaHei"; font-size:15px;!important}

html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0;line-height:0; height:0; display:block;}
a,a:link,a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:none;outline:none;}
area{ outline:none;}
*:focus{outline: none;-moz-outline:none;}
img{ border:0px;}
.listbg{ margin:0 auto;}
.zong{
	width:1003px; margin:0 auto;  background-color:#FFFFFF; padding-top:2px;}
.login,.loginbg{margin:0 auto; width:996px;}
.login{ margin-top: height:34px; background-color:#00A3D9; line-height:34px; border-bottom:2px solid #D96D00;}

.tzwz{ margin-left:20px; font-size:14px; color:#fff;}
.loginbg{
	height:425px; background:url(loginbg.jpg)  no-repeat bottom #FFFFFF;}
.dlxx{
	width:513px; height:335px; background:url(bg.png)  no-repeat; margin:40px auto 0px auto;}
.dlli{ padding-top:158px;}
.dlli ul li{ width:100%; list-style:none; font-size:16px; font-family:"Microsoft YaHei"; height:50px; line-height:50px;  margin:auto 20px; }
.dlli ul li span{ margin:auto 5px;}
.input{  height:34px; line-height:34px; border:1px #D2D2D2 solid;}
img{ vertical-align:middle; }

.zcbg{
	height:500px; background:url(zcbg.jpg)  no-repeat bottom #FFFFFF;}

.logo{ text-align:center;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(logo.fw.png);
	line-height:95px;
	height:95px;

}
.zcinput{height:28px; line-height:28px; border:1px #D2D2D2 solid; background-color:#FFFBEC;}

.zcfont{ font-size:15px; font-family:"Microsoft YaHei";   color:#0085B2; padding-right:10px;}
.zhzc{ font-family:"Microsoft YaHei"; font-size:14px;}
.hh{ display:inline-block; white-space:nowrap;font-size:13px; padding:2px 8px ;}
.listtab{ text-align:left; font-size:13px; font-weight:700;
 background:url(linebg.jpg) repeat-x  center ;}


.tccktable { border-collapse:collapse; margin : 0 auto; margin-top:5px;
border:1px solid #D3D3D3; 

}
.three{ color:#0A7BAB;}
.tccktable td { padding:3px; height:26px; line-height:26px;padding:1px 3px;
border:1px solid #D3D3D3; 
}
.tccktit{ background-color: #F4F0F0; height:30px; line-height:30px; color:#1E87B8; font-weight:700; font-size:13px;!important　}
a.cz:link,a.cz:visited{padding:2px 8px;; color:#00A3D9; text-decoration:underline;}
a.cz:hover{padding:2px 8px;; color:#ff0000; text-decoration:underline;}
.pass{
	width:518px;  height:260px; border:1px solid #E7E7E7; padding-top:30px; margin:35px auto 0px auto;}

.passimg{ margin:0px;  padding:0px;}

.box{
	position:absolute;
	width:260px;
	height:78px;
	z-index:1;
	top: 32px;
	left: 56px;
	background: #F7FBF2;
	border: 1px solid #ddd;
}
.titwz{width:99%; margin:0 auto; height:48px; border-top:3px solid #35B6E2; background:#E2F2F8;}
.titwz ul li{ float:left; width:210px; text-align:center; list-style:none !important; height:48px; line-height:48px; border-right:1px solid #C7DDE5;}
.titwz li a.on:link,.titwz li a.on:visited{ background:#E2F2F8;width:210px;font-weight:700; height:48px; line-height:48px; display:block;border-bottom:none; font-size:18px; color:#DF0000; }
.titwz li a.on:hover{ font-size:18px; font-weight:700;background:#35B6E2;width:210px; height:48px; line-height:48px; border-bottom:none;color:#004E67; }
.aon{font-size:18px; font-weight:700;background:#35B6E2;width:210px; height:48px; line-height:48px; border-bottom:none;color:#004E67; display:block;}
.jjpd{width:99%; margin:0 auto;}
.nav{background:url(navbg.jpg) repeat-x;height:52px;line-height:52px;}
.nav li{float:left;padding:0 26px;text-align:center;color:#fff;border-right:2px solid #a9daf3;height:25px;line-height:25px;margin-top:12px;POSITION: relative;}
.nav li a:link,.nav li a:visited{color:#fff;font-weight:bold;font-size:18px;}
.nav li a:hover{color:#fff000;text-decoration:underline}
.nav li a.on:link,.nav li a.on:visited{color:#fff000;text-decoration:underlinefont-weight:bold;font-size:18px;}
.font12{font-size:12px;}
.foot{color:#444;font-size:13px;lint-height:32px;text-align:center;padding:20px 0;border-top:3px solid #35b6e2}
a.qk:link,a.qk:visited{font-size:14px;color:#1d84b6;text-decoration:underline;font-weight:bold;}
.nav li span.on{color:#fff000;font-weight:bold;font-size:18px;}
.nav li span.no{color:#fff;font-weight:bold;font-size:18px;}


.nav UL LI UL {
	/*VISIBILITY: hidden;*/ POSITION: absolute;
}
.nav li .nav_list{ display:none; right:0;}
.nav li.hover .nav_list{ display:block;}
.nav .nav_list{padding-top:14px;}
.nav .nav_list LI {
	BACKGROUND: #1579ad; FLOAT: left; LINE-HEIGHT: 38px;height:38px;border-right:none;padding:0;margin-top:0;border-bottom:1px solid #2487ba;
}
.nav .nav_list LI A {
	DISPLAY: block; TEXT-DECORATION: none;font-size:16px;font-weight:noraml;width:140px;
}
.nav .nav_list LI A:hover {
	BACKGROUND: #e10101;TEXT-DECORATION: none
}
.downarrowclass {
	DISPLAY: none; POSITION: absolute
}
.rightarrowclass {
	DISPLAY: none; POSITION: absolute
}
.ddshadow {
	BACKGROUND: silver; LEFT: 0px; WIDTH: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.toplevelshadow {
	opacity: 0.8
}
 HTML .ddsmoothmenu ul li {
	FLOAT: left; WIDTH: 137px; LINE-HEIGHT: 38px; POSITION: relative; TEXT-ALIGN: center
}