body {
	font-size: 12px;
	color: #444444;
	margin:0px;
	background-color: #cccccc;
}
table, td{
	font-size: 12px;
	color: #444444;
}
a:link, a:visited, a:active {
	color: #444444;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration: underline;
}


a.knews:link, a.knews:visited, a.knews:active {
	color: #f00;
	text-decoration: none;
	font-family:"黑体";
	font-size:18px;
}
a.knews:hover {
	color: #f60;
	text-decoration: underline;
	font-family:"黑体";
	font-size:18px;
}
a.kmore:link, a.kmore:visited, a.kmore:active {
	color: #ff0000;
	text-decoration: underline;
}
a.kmore:hover {
	color: #ff6600;
	text-decoration: underline;
}
a.kmb:link, a.kmb:visited, a.kmb:active {
	color: #ffffff;
	text-decoration: none;
}
a.kmb:hover {
	color: #ffcc00;
	text-decoration: underline;
}
a.km:link, a.km:visited, a.km:active {
	color: #004499;
	text-decoration: none;
}
a.km:hover {
	color: #ff6600;
	text-decoration: underline;
}
a.k1:link, a.k1:visited, a.k1:active {
	color: #ffffff;
	text-decoration: none;
}
a.k1:hover {
	color: #ffffcc;
	text-decoration: underline;
}
a.k2:link, a.k2:visited, a.k2:active {
	color: #444444;
	text-decoration: underline;
}
a.k2:hover {
	color: #FF6600;
	text-decoration: underline;
}
a.k8:link, a.k8:visited, a.k8:active {
	color: #B18A63;
	text-decoration: underline;
}
a.k8:hover {
	color: #FF6600;
	text-decoration: underline;
}
a.k6:link, a.k6:visited, a.k6:active {
	text-decoration: underline;
	font-size:14px;
	color:#ff6600;
}
a.k6:hover {
	color: #FF6600;
	text-decoration: underline;
	font-size:14px;
}

a.ktop:link, a.ktop:visited, a.ktop:active {
	color: #3B8FCD;
	text-decoration: none;
	font-size:13px;
	font-weight:bold;
}
a.ktop:hover {
	color: #FF6600;
	text-decoration: underline;
	font-size:13px;
	font-weight:bold;
}

.ftitle {
	font-family: "黑体";
	font-size: 18px;
	line-height:22px;
}
.fsbar {
	font-family: "黑体";
	font-size: 16px;
	line-height:22px;
	color:#CC0000;
}
.fontc {
	font-size: 14px;
	line-height:2.0;
	color:#333333;
}

a.kdh:link, a.kdh:visited, a.kdh:active {
	color: #ffffff;
	text-decoration: none;
	font-size:14px;
	font-weight:bold;
}
a.kdh:hover {
	color: #ffcc00;
	text-decoration: underline;
	font-size:14px;
	font-weight:bold;
		
}
a.ktt:link, a.ktt:visited, a.ktt:active {
    font-size:18px;
	color: #ff0000;
	font-family:"黑体";
	text-decoration: none;
}
a.ktt:hover {
    font-size:18px;
	color: #ff6600;
	font-family:"黑体";
	text-decoration: underline;
}
a.k3:link, a.k3:visited, a.k3:active {
    font-size:13px;
	color: #004499;
	text-decoration: none;
	font-weight:bold;
}
a.k3:hover {
    font-size:13px;
	color: #FF6600;
	text-decoration: underline;
	font-weight:bold;
}
a.k4:link, a.k4:visited, a.k4:active {
	color: #444444;
	text-decoration: none;
	font-size:14px;
}
a.k4:hover {
	color: #FF6600;
	text-decoration: underline;
	font-size:14px;
}
a.k5:link, a.k5:visited, a.k5:active {
	color: #ff0000;
	text-decoration: none;
}
a.k5:hover {
	color: #FF6600;
	text-decoration: underline;
}
a.kzt:link, a.kzt:visited, a.kzt:active {
    font-size:13px;
	color: #1370AB;
	text-decoration: none;
}
a.kzt:hover {
    font-size:13px;
	color: #FF6600;
	text-decoration: underline;
}
a.k13:link, a.k13:visited, a.k13:active {
    font-size:13px;
	color: #444444;
	text-decoration: none;
	font-weight:bold;
}
a.k13:hover {
    font-size:13px;
	color: #FF6600;
	text-decoration: underline;
	font-weight:bold;
}
a.kbar:link, a.kbar:visited, a.kbar:active {
	color: #333333;
	text-decoration: none;
	font-size:13px;
	font-weight:bold;
}
a.kbar:hover {
	color: #FF6600;
	text-decoration: underline;
	font-size:13px;
	font-weight:bold;
}
a.kqbar:link, a.kqbar:visited, a.kqbar:active {
	color: #1370AB;
	text-decoration: none;
}
a.kqbar:hover {
	color: #FF6600;
	text-decoration: underline;
}
.font1{
	color:#ff6600;
}
.font2{
	color:#004499;
}
.fontt {
	font-size: 12px;
	color:#c5c5c5;
}
.fonttt {
	font-size: 14px;
	color:#999999;
}
.fonttin {
	font-size: 13px;
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
}
.font3{
	font-size: 14px;
	color:#004499;
	font-weight:bold;
}
.fontleft{
    margin-left:42px;
	text-align:left;
}
.fontb {
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
	padding-top:2px;
}
.fontb2 {
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
	padding-top:4px;
}
.fonth3 {
	color: #cc3300;
	font-size:13px;
	font-weight:bold;
	padding-top:4px;
}
.fonth4 {
	color: #cc3300;
	font-size:14px;
	font-weight:bold;
	padding-top:6px;
}
.fontblack {
	color: #333333;
	font-size:14px;
	font-weight:bold;
}
.fontred {
	color: #ff0000;
}
.fonth {
	color: #cc3300;
	font-size:14px;
	font-weight:bold;
}
.font18{
line-height:1.4
}
.font20{
line-height:1.6
}
.font22{
line-height:1.8
}
.btopbx {
    border-top:1px #CCE2ED solid;
}
.bx01 {
    border:1px solid #E9E9E9;
	background:#FFFFFF;
}
.bx02 {
	background-color: #FDFDF5;
	border: 1px solid #E5D7B4;
}
.bx03 {
	background-color: #FCFAEB;
	border: 1px solid #E5D7B4;
}
.bx04 {
	background-color: #ffffff;
	border: 1px solid #E5D7B4;
}
.imgbx {
	border:1px solid #e1e1e1;
	background:#FFFFFF;
	padding: 4px;
	width:150px;
	height:100px;
}
.showimgbx {
	border:1px solid #E7DCC9;
	background:#FFFFFF;
	padding: 3px;
	width:120px;
	height:80px;
}
.sbar{
	width:155px;
	height:37px;
	background: url(sbar.jpg) no-repeat;
	text-align:center;
	padding-left:20px;
	font-size:13px;
	font-weight:bold;
	color: #333333;
}
.sbarbx{
    border:1px #A6D2EB solid;
	background:#E9F6FE;
}
.sybar{
	color: #004499;
	font-size:13px;
	font-weight:bold;
	padding-left:15px;
	width:172px;
	height:25px;
}
.newsbt1 {
	color: #ffffff;
	font-weight:bold;
	cursor:hand;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	
}
.newsbt2 {
	color: #1370AB;
	cursor:hand;
	font-size:13px;
	text-align:center;
}
.scbg {
	background-image: url(sbbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.hdzt01 {
	color: #ffffff;
	background-image: url(hdzt01.jpg);
	cursor:hand;
	font-size:13px;
	text-align:center;
}
.hdzt02 {
	color: #333333;
	background-image: url(hdzt02.jpg);
	cursor:hand;
	font-size:13px;
	text-align:center;
}
.inputbd{
	border: 1px solid #E2D8C9;
	background-image: url(inputbg.jpg);
	background-repeat: repeat-x;
	background-position: 1px 1px;
	height:22px;
}
.inputbd2{
	border: 1px solid #E2D8C9;
	background-image: url(inputbg.jpg);
	background-repeat: repeat-x;
	background-position: 1px 1px;
}
.inputbt{
    background:url(btbg01.jpg) no-repeat;
	border:none;
	cursor:pointer;
	height: 39px;
	width: 103px;
	font-size:14px;
	color:#CC3300;
	font-weight:bold;
	padding-left:3px;
}
.serbt{
    background:url(serbgn.jpg) no-repeat;
	border:none;
	cursor:pointer;
	height:22px;
	width:60px;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	padding-top:3px;
}
.mailbt{
    background:url(mailbt.jpg) no-repeat;
	border:none;
	cursor:pointer;
	height: 24px;
	width: 56px;
	font-size:12px;
	color:#cc6600;
}
.sub01 {
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
    cursor:pointer;
	text-align:center;
	width:91px;
	height:27px;
	padding-top:1px;
	background: url(sub01.jpg);
}
.sub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:91px;
	height:27px;
	padding-top:2px;
	background: url(sub02.jpg);	
}
.scsub01 {
	color: #333333;
	font-size:13px;
	font-weight:bold;
    cursor:pointer;
	text-align:center;
	width:76px;
	height:19px;
	padding-top:3px;
	background: url(scbt01.jpg);
}
.scsub02 {
    cursor:pointer;
	text-align:center;
	font-size:13px;
	width:76px;
	height:21px;
	padding-top:1px;
	background: url(scbt02.gif);	
}
.bssub01 {
	color: #ffffff;
	font-size:13px;
	font-weight:bold;
    cursor:pointer;
	text-align:center;
	width:75px;
	height:24px;
	padding-bottom:1px;
	background: url(bsbg02.jpg);
}
.bssub02 {
    cursor:pointer;
	text-align:center;
	font-size:13px;
	width:75px;
	height:24px;
	padding-bottom:1px;
	background: url(bsbg03.jpg);	
}
.newssub01 {
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
    cursor:pointer;
	text-align:center;
	width:85px;
	height:30px;
	background: url(newsnbt01.jpg);
}
.newssub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:85px;
	height:30px;
	background: url(newsnbt02.jpg);	
}
.bxlist {
	background-color: #ffffff;
	border: 1px solid #E1E1E1;
}
.ywsub01 {
	color: #cc3300;
	font-size:14px;
    cursor:pointer;
	text-align:center;
	font-weight:bold;
	width:146px;
	height:24px;
	background: url(ywbt01.jpg);
	padding-top:5px;
}
.ywsub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:146px;
	height:24px;
	background: url(ywbt02.jpg);
	padding-top:2px;	
}
.hdsub01 {
	color: #cc3300;
	font-size:14px;
    cursor:pointer;
	text-align:center;
	font-weight:bold;
	width:78px;
	height:23px;
	background: url(hdbg10.jpg);
	padding-top:5px;
}
.hdsub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:78px;
	height:23px;
	background: url();
	color:#CC6600;
	padding-top:2px;
}
a.kh:link, a.kh:visited, a.kh:active {
	color: #cc3300;
	text-decoration: none;
	font-size:14px;
	font-weight:bold;
}
a.kh:hover {
	color: #ff6600;
	text-decoration: underline;
	font-size:14px;
	font-weight:bold;
}
.fjbx{ border:1px #e1e1e1 dotted; font-size:14px;}

.sitesub01 {
	color: #cc0000;
	font-size:14px;
    cursor:pointer;
	text-align:center;
	font-weight:bold;
	width:128px;
	height:52px;
	background: url(bqwbt1.jpg);	
	padding-left:12px;
}
.sitesub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:118px;
	height:52px;
	background: url(bqwbt2.jpg);	
	padding-left:22px;
	color:#333333;
}
.ktfwsub01 {
	color: #cc0000;
	font-size:14px;
    cursor:pointer;
	text-align:center;
	font-weight:bold;
	width:79px;
	height:23px;
	background: url(indebtnw1.jpg);	
}
.ktfwsub02 {
    cursor:pointer;
	text-align:center;
	font-size:14px;
	width:79px;
	height:23px;
	background: url(indebtnw2.jpg);	
	color:#CA6400;
}
.xxtjsub01 {
	color: #cc0000;
	font-size:13px;
    cursor:pointer;
	text-align:center;
	width:72px;
	height:16px;
	background: url(2015tjbt.jpg);
	padding-top:7px;
}
.xxtjsub02 {
    cursor:pointer;
	text-align:center;
	font-size:13px;
	width:72px;
	height:20px;
	background: url();	
	color:#333;
	padding-top:3px;
}