@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,img{ margin:0px; padding:0px;}
ul,li,dl,dt,dd,ol{ list-style:none;}
.clear{ clear:both; font-size:0; line-height:0; height:0;}
a,a:link,a:visited{ color:#4e4e4e; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
img{ border:0px;}
body{ font-family:"宋体"; font-size:12px; margin:0px; line-height:160%; color:#4e4e4e;}
.nobg{ background:none !important;}
.padding1{ padding:1px;}.padding2{ padding:2px;}.padding3{ padding:3px;}.padding4{ padding:4px;}.padding5{ padding:5px;}.padding6{ padding:6px;}.padding7{ padding:7px;}.padding8{ padding:8px;}.padding9{ padding:9px;}.padding10{ padding:10px;}
.red,.red:link,.red:visited{ color:#ff0000;}
.green,.green:link,.green:visited{ color:#0b861f;}
.blue,.blue:link,.blue:visited{ color:#0076cd;}

.login_wrapper{ width:100%;}
.login_head{ width:1000px; padding-top:30px; margin:0px auto;}
.login_logo{ background:url(img/logo.gif) no-repeat 110px center; height:70px; float:left; width:450px;}
.login_nav{ height:30px; line-height:30px; background:url(img/topnav.gif) #f0f0f0 right repeat-y; float:left; width:450px; margin-top:25px; text-align:right; padding-right:100px; color:#0066cc;}
.login_nav a:link,.login_nav a:visited{ color:#0066cc;}
.login_body{ background:url(img/mbg.gif) repeat-x bottom; padding-top:50px; height:460px;}
.login_body_wrapper{ width:1000px; margin:0px auto;}
.body_left{ float:left; background:url(img/img1.jpg) no-repeat center; height:460px; width:520px; margin-left:60px; _margin-left:30px;}
.body_right{ float:right; width:350px; margin-right:60px; _margin-right:30px;}
.login_form{ margin-top:70px; background:url(img/formbg.png); height:310px; width:350px; font-family:microsoft yahei; font-size:13px;}
.form_title{ padding:22px 25px 30px 90px; height:30px; font-size:28px; color:#0066cc;}
.form_title span{ font-size:16px; margin-left:5px; color:#4e4e4e;}
.form_main{ padding:15px 25px 15px 65px;}
.form_main label{ display:inline-block; *display:inline; *zoom:1; border:1px solid #c1c1c1; padding:2px; height:22px;}
.form_main input{ border:0px; height:22px; line-height:22px; margin:0px; padding:0px;}
.icon_user{ background:url(img/icon_user.gif) 2px center no-repeat; padding-left:22px !important;}
.icon_pass{ background:url(img/icon_key.gif) 2px center no-repeat; padding-left:22px !important;}
.icon_user input,.icon_pass input{ width:175px;}
.icon_code{ margin-right:10px; _margin-right:5px;}
.icon_code input{ width:70px;}
.form_main .list{ margin-bottom:10px;}
.codefresh{ font-size:12px; width:40px; display:inline-block; *display:inline; *zoom:1; vertical-align:middle; line-height:12px; padding:1px 1px; margin-left:5px; _margin-left:4px; margin-top:-2px; cursor:pointer;}
.list img{ cursor:pointer;}
.login_btn,.login_btn:link,.login_btn:visited{ background:url(img/loginbtn.gif); height:40px; width:102px; display:inline-block; *display:inline; *zoom:1;}
.login_btn:hover{ background:url(img/loginbtn.gif) -224px; height:40px; width:102px; display:inline-block; *display:inline; *zoom:1;}
.login_btn:active{ background:url(img/loginbtn.gif) -112px; height:40px; width:102px; display:inline-block; *display:inline; *zoom:1;}

.login_btn strong{ display:none;}
.form_main .btn{ padding-top:20px; text-align:center;}

.login_footer{ width:1000px; margin:0px auto; text-align:center; padding:10px 0px; font-family:Arial;}