.style {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 28px;
}
a.menu:link {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.tit {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
a:link {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-family: "宋体";
}
a:visited {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	font-family: "宋体";
}
a:hover {
	font-size: 14px;
	color: #CC0000;
	text-decoration: none;
	font-family: "宋体";
}
a.titS:link {
	font-size: 24px;
	color: #CC0000;
	text-decoration: none;
	font-family: "宋体";
}
a.titS:visited {
	font-size: 214px;
	color: #CC0000;
	text-decoration: none;
	font-family: "宋体";
}
a.titS:hover {
	font-size: 24px;
	color: #FF6600;
	text-decoration: none;
	font-family: "宋体";
}

.tit2 {
	font-size: 24px;
	color: #CC0000;
	font-weight: bold;
}
.time {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}




a.menu:visited {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
a.menu:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFFF00;
}
.tit3 {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}